
.cadastro-usuario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(139, 202, 204);
    background-image: url('../../assets/wallpapers/fundo.gif');
}

.side-user-content {
    display: flex;
    flex-direction: column; /* Empilhar os itens verticalmente */
 
    align-items: center; /* Centralizar horizontalmente */
    border: 2px solid #58AF9B;
    /* padding: 80px; */
    width: 680px; /* Largura da barra lateral */
    background-color: #58AF9B; /* Cor de fundo */
    height: 650px; /* Altura total da barra lateral */
    position: relative; /* Posição fixa */
    box-shadow: 0px 4px 5px rgba(44, 2, 2, 0.2);
    border-radius: 25px;
    color: #fff;
}

.side-user-left {
    margin-top: 75px;
    height: auto;
    width: auto;
}

.side-user-content h1 {
    /* margin-bottom: 90px; Espaçamento entre o título e o parágrafo */
    color: #fff; /* Cor do título */
    font-size: 28px; /* Tamanho do título */
    text-align: center; /* Centralizar texto */
    align-self: flex-start; /* Colocar o título no topo */
}

.side-user-content p {
    margin-top: 200px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    font-weight: 550px;
    justify-content: center; /* Centralizar verticalmente */
}

.form-user-content {
    border: 1px solid #ccc;
    padding: 80px;
    width: 500px; 
    height: 490px;
    text-align: center;
    background-color: #fff;
    border-radius: 0 25px 25px 0;
    box-shadow: 0px 4px 5px rgba(44, 2, 2, 0.2);
    margin: -16px;
  
}

.form-user-content h1 {
    margin-bottom: 20px;
    color: #58AF9B;
}

.form-user-content p {
    margin-bottom: 20px;
    color: #58AF9B;
    font-size: 17px;
    font-weight: 458px;
}

.form-user-content input {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    outline: none;
}

.form-user-content button {
    background-color: #4ab4b1;
    color: #fff;
    border: 1px solid #4ab4b1;
    padding: 15px 23px;
    border-radius: 12px;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform .2s ease-in-out;
    font-size: 15px;
    transition: background-color .5s;
    margin-top: 5px;
}

.form-user-content button:hover {
    background-color: #d1fcf2;
    color: #4ab4b1;
    transition: background-color .5s;
    border: 1px solid #4ab4b1;
}

.form-user-content button:active {
    transform: scale(0.95);
    background-color: #4ab4b1;
    color: #fff;
    transition: border .5s;
}

.form-user-content button:focus {
    border: 1px solid #4ab4b1;
    outline: none;
    transition: border .5s;
}

.form-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-user input {
    width: 400px;
    padding: 11px;
    margin-bottom: 14px;
    border: 2px solid #ccc;
    margin: 0 auto 14px auto;
    border-radius: 12px;
    display: block;
    transition: opacity 0.5s ease, height 0.5s ease; /* Adicione uma transição suave */
}

.form-user input.offscreen_input-text {
    opacity: 0; /* Inicialmente, defina a opacidade para 0 */
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease; /* Adicione uma transição suave */
  }
  
 .form-user-content p.error-message {
    color: #ff0000; /* Cor vermelha para o texto de erro */
    font-size: 14px; /* Tamanho da fonte */
    margin-top: 5px; /* Espaçamento superior para separá-lo dos campos de entrada */
  }
  
  .side-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  button.voltar{
    background-color: #4ab4b1;
    color: #fff;
    border-color:#2f6664;
    padding: 13px 21px;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform .2s ease-in-out;
    font-size: 20px;
    transition: background-color .5s;
    position: absolute;
    top: 20px;
    left: 25px;
  }

    button.voltar:hover {
        background-color: #d1fcf2;
        color: #4ab4b1;
        transition: background-color .5s;
        border-color: #4ab4b1;
    }

    button.voltar:active {
        transform: scale(0.95);
        transition: border .5s;
    }

    

  