
.cadastro-veterinario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(202, 202, 202);
}

.side-content {
    border: 2px solid #58AF9B;
    padding: 80px;
    width: 500px; /* Largura da barra lateral */
    background-color: #63b0c4; /* Cor de fundo */
    height: 490px; /* Altura total da barra lateral */
    position: relative; /* Posição fixa */
    box-shadow: 0px 4px 5px rgba(44, 2, 2, 0.6);
    border-radius: 25px;
    color: #fff;
}

.form-content {
    border: 1px solid #ccc;
    padding: 80px;
    width: 500px; 
    height: 490px;
    text-align: center;
    background-color: #fff;
    border-radius: 0 25px 25px 0;
    box-shadow: 5px 4px 5px rgba(44, 2, 2, 0.6);
    margin: -16px;
  
}